---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import DemoSection from "../components/DemoSection.astro";
import LandingSection from "../components/LandingSection.astro";
---

<Layout title="Tesla!">
  <LandingHeader />
  <!-- <main class=" snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class=" snap-center">
			<HeroSection></HeroSection>
		</div>
		<div class=" snap-center">
			<DemoSection></DemoSection>
		</div>
		<div class=" snap-center">
			<HeroSection></HeroSection>
		</div>
		<div class=" snap-center">
			<DemoSection></DemoSection>
		</div>
	</main> -->
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth"
  >
    <div class="snap-center">
      <LandingSection
        title="Disfrute de Tesla"
        subtitle="Programe una prueba de conducci贸n hoy mismo"
        color="white"
      >
        <div slot="footer">
          <a
            href="#"
            class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          >
            Prueba de Conduccion
          </a>
        </div>
        <video
          slot="background"
          class="object-cover h-full w-full"
          autoplay
          muted
          loop
          src="/video.webm"></video>
      </LandingSection>
    </div>
    <div class="snap-center">
      <LandingSection
        title="Disfrute de Tesla"
        subtitle="Programe una prueba de conducci贸n hoy mismo"
        color="black"
      >
        <div
          slot="footer"
          class="flex flex-col flex-grow flex-nowrap justify-end pb-20"
        >
          <div class="flex mx-auto space-x-6">
            <a
              href="#"
              class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            >
              Explorar Inventario
            </a>
            <a
              href="#"
              class="border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            >
              Pedido Personalizado
            </a>
          </div>
        </div>
        <div slot="background" class="absolute top-0 bottom-0 h-full w-full">
          <img
            src="./model-y.avif"
            alt="Model Y"
            class="h-full w-full object-cover"
          />
        </div>
      </LandingSection>
    </div>
    <div class="snap-center">
      <LandingSection
        title="Disfrute de Tesla"
        subtitle="Programe una prueba de conducci贸n hoy mismo"
        color="white"
      >
        <div slot="background" class="absolute top-0 bottom-0 h-full w-full">
          <img
            src="./model-y.avif"
            alt="Model Y"
            class="h-full w-full object-cover"
          />
        </div>
      </LandingSection>
    </div>
    <div class="snap-center">
      <LandingSection
        title="Disfrute de Tesla"
        subtitle="Programe una prueba de conducci贸n hoy mismo"
        color="white"
      >
        <div slot="background" class="absolute top-0 bottom-0 h-full w-full">
          <img
            src="./model-y.avif"
            alt="Model Y"
            class="h-full w-full object-cover"
          />
        </div>
      </LandingSection>
    </div>
  </main>
</Layout>
