<section class="landing-section h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white">
    <div class=" z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class=" text-white pt-40 text-[40px] font-mediun z-20">Model Y</h2>
            <p class=" text-white text-sm z-20">Concertar una Prueba de Conduccion</p>
        </header>
        <footer>
            <div class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
                <div class="flex mx-auto space-x-6">
                    <a href="#" class=" border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block
                    hover:bg-white hover:text-black transition-colors">
                        Explorar Inventario
                    </a>
                    <a href="#" class=" border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block
                    hover:bg-white hover:text-black transition-colors">
                        Pedido Personalizado
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full">
        <img src="./model-y.avif" alt="Model Y" class=" h-full w-full object-cover">
    </div>
</section>