<section class="landing-section h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black">
    <div class=" z-30 relative h-full flex flex-col">
        <header class="">
            <h2 class=" text-white pt-40 text-[40px] font-mediun z-20">Disfrute de Tesla</h2>
            <p class=" text-white text-sm z-20">Programe una prueba de conducción hoy mismo</p>
        </header>
        <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
            <div>
                <a href="#" class=" border-[3px] border-white bg-white/5 backdrop-blur-sm rounded font-medium text-white px-12 py-2 inline-block
                hover:bg-white hover:text-black transition-colors">
                    Prueba de Conduccion
                </a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full">
        <video class="object-cover h-full w-full" autoplay muted loop src="/video.webm"></video>
    </div>
</section>